# Ignorar dependencias locales
node_modules
node_modules/*

# Ignorar archivos de compilación de Next.js
.next
.next/*

# Ignorar archivos de Git
.git
.git/*

# Ignorar configuraciones locales y editoriales
.env
.env.local
.vscode
.idea

# Ignorar otros archivos innecesarios
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignorar ficheros de Docker que no se necesitan en la imagen
Dockerfile
.dockerignore